.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  background-color: #f1f1f1;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.room {
  height: 50px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 3px;
}

.messages-feed {
  background-color: #f1f1f1;
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.messages-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
}

.own-message {
  background-color: rgb(118,106,200);
}

.received-message {
  background-color: rgb(33,33,33);
}

.message__author {
  font-weight: bold;
}

.message__content {
  margin-top: 5px;
}

.message__timestamp {
  color: #888;
  font-size: 12px;
}

.text-area-wrapper {
  display: flex;
  gap: 6px;
}

textarea {
  width: 100%;
}

.login_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.inputs_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

input {
  height: 25px;
  border-radius: 6px;
}

.invite_modal_button {
  width: 25px;
  border-radius: 0;
  height: 25px;
  padding: 0;
  margin: 3px;
}

dialog::backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.1);
}
